[Unit]
Description=inotify-cache messages service
After=network.target

[Service]
Type=simple
ExecStart=
Restart=on-failure
RestartSec=5

[Service]
ExecStart=/usr/bin/bash /opt/inotify-cache/bin/inotify.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=inotify-cache

[Install]
WantedBy=multi-user.target

